[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/azeddine/Desktop/Counter-Strike Global Offensive.desktop]
row=2
col=0

[/home/azeddine/Desktop/ticktick.desktop]
row=3
col=0

[Trash]
row=10
col=0

[/]
row=0
col=0

[/home/azeddine]
row=1
col=0

